*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
[class*=col-]{
    width: 100%;
}
[class*=col-]{
    float: left;
    padding: 15px;
}
body{
    height: 1800px;
    direction: rtl;
}
#inviteheader{
    height: 38px;
    background-color: #2d41a9;
    display: flex;
    flex-direction: row;
}
