*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
[class*=col-]{
    width: 100%;
}
[class*=col-]{
    float: left;
    padding: 15px;
}
@media only screen and (min-width:600px){
    .col-m-1{width:8.33%}
    .col-m-2{width:16.66%}
    .col-m-3{width:25%}
    .col-m-4{width:33.33%}
    .col-m-5{width:41.66%}
    .col-m-6{width:50%}
    .col-m-7{width:58.33%}
    .col-m-8{width:66.66%}
    .col-m-9{width:75%}
    .col-m-10{width:83.33%}
    .col-m-11{width:91.66%}
    .col-m-12{width:100%}
}
@media only screen and (min-width:768px){
    .col-1{width:8.33%}
    .col-2{width:16.66%}
    .col-3{width:25%}
    .col-4{width:33.33%}
    .col-5{width:41.66%}
    .col-6{width:50%}
    .col-7{width:58.33%}
    .col-8{width:66.66%}
    .col-9{width:75%}
    .col-10{width:83.33%}
    .col-11{width:91.66%}
    .col-12{width:100%}
}
body{
    height: 1800px;
    direction: rtl;
}
.header{
    height: 50px;
    background-color: #141b52 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#invite-titr{
    display: none;
}
#invite-titr{
    text-align: center;
    color: #fff;
    font-size: 15px;
}
#invite-titr a{
    text-decoration: none;
    color: #fff;
    border-bottom: #fff solid 1px;
}
#language-button {
    font-size: 17px;
    width: 20%;
    height: 50px;
    margin-top: -15px;
    text-align: center;
    line-height: 50px;
    display: flex !important;
    flex-direction: row !important;
    word-spacing: 7px;
}
#language-button a{
    color: #fff;
    text-decoration: none
}
#language-button a:hover{
    color: #2ed596;
}
#language-button{
    display: none !important;
}
.dropdown-menue{
    display: none;
}
.dropdown-menue{
    height: 60px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    box-shadow: 2px 2px 5px #b5a3bb;
}
#main-menue{
    display: flex;
    flex-direction: row;
    height: 60px;
    position: relative;
    margin-top: -15px;
    width: 45%;
    line-height: 60px;
}
#main-menue li{
     padding:0 20px 0 20px;
     list-style-type: none;
     font-weight: bold;
}
#main-menue li:hover{
    border-bottom:4px solid  #2d40a1;
}
#main-menue li a{
    text-decoration: none;
    color: #1c2c7e;
}
#main-menue li a:hover{
    color:  #2ed596;
    transition: all 0.5s;
}
#subset-menue1 {
    position: absolute;
}
#subset-menue1 li:hover{
    border-bottom: 0px solid;
    background-color:#eed9f7 ;
}