@media only screen and (min-width:450px){
    #invite-titr{
        display: block;
    }
}
@media only screen and (min-width:570px){
    #invite-titr{
        margin-top: -7px !important;
        font-size: 17px;
    }
}
@media only screen and (min-width:738px){
    #language-button{
        display: block !important;
    }
    #invite-titr{
        text-align: left;
        width: 55%;
    }
}